* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
}
:root {
    --primary-color: #f4f4f4;
    --secondary-color: #333;
    --font-color: #c49a6c;
}
/* Header Section */

.hero {
      background: url("images/dmain.avif");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; 
      height: 80vh;

    }
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
} 
 .nav_item {
    display: flex;
    list-style : none;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0;
} 
.nav_item li {
    margin: 0 15px;
    font-size: 18px;
}
.btn-secondary {
    background-color: var(--font-color)!important;
    border: 2px solid;
}
/* .nav_menu {
    display: flex;
    list-style : none;
    gap: 1.5rem;
    justify-content: center;
    padding: auto;
    margin: 50px;
} */

/* Main Content Section */
/*  .appetizers{
    display: flex;
    padding: 100px 20px 20px 20px;
    text-decoration: none;
    gap: 50px;

 }
 .main_courses {
    display: flex;
    padding: 100px 20px 20px 20px;
    text-decoration: none;
    gap: 50px;

 } 
 .desserts {
    display: flex;
    padding: 100px 20px 20px 20px;
    text-decoration: none;
    gap: 50px;
} */
/* .contact-info {
    display: flex;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    list-style: none;
    position: fixed;
} */

 /* Menu Section */

.menu-section {
    background-color: var(--primary-colors);
}
.menu-section h2{
    font-size: 64px;
    font-style: bold;
    color: var(--font-color);
    font-family: 'Georgia', serif;
    margin-bottom: 50px;
}
.menu-link{
    font-size: 48px;
}
.menu-link.active{
    font-style: italic;
    /* text-decoration: underline; */
}
.menu-image-wrapper{
    width: 500px;
    height: 450px;
    overflow: hidden;
    border-radius: 100px;
    justify-content: center !important;
}
.menu-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.menu-text{
    margin-top: 50px;
 
}
.menu-text.p{
    font-size: 20px;
    color: var(--secondary-color);
}
.btn-outline-dark {
    /* background-color: var(--secondary-color);  */
    color: var(--font-color);
    border: 2px solid;
}

/* Contact Section */

.Contact-section {
    min-height: 100vh;
   /*  background-color: var(--primary-color);
 */
}
.Contact-title {
    font-style: italic;
    font-size: 64px;
    color: var(--secondary-color);
}
.Contact-title span {
    font-style: italic;
}
.Contact-form {
    justify-content: center !important; 
    margin-top: 30px;
}
.Contact-form .input{
   width: 100%;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background: transparent;
  padding: 12px 5px;
  margin-bottom: 30px;
  outline: none;
}
.Contact-form .textarea{
    width: 100%;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background: transparent;
  padding: 12px 5px;
  margin-bottom: 30px;
  height: 120px;
}
.checkbox-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .checkbox-form label {
  font-size: 14px;
}
 */
.checkbox-form a {
  color: var(--font-color);
  text-decoration: underline;
}

.checkbox-form button {
  background-color: var(--font-color);
  border: 4px;
  color: var(--primary-color);
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 14px;
}
.form-control {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    background: transparent;
    padding: 12px 50px;
    margin-bottom: 30px;
    outline: none;
}